{% extends 'board/base.html'%}
{% load static %}
{% block title%}
{{post.title}}
{% endblock title%}


{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'board/board_detail.css'%}" />
{% endblock css%}



{% block main%}
<main>
    <div class="container">
        <div class="post_detail">
            <div class="post">
                <div class="post_title">
                    <p class="title">
                        {{post.title}}
                    </p>
                    <div class="profile">
                        <img src="{{post.author.image.url}}" alt="프로필 사진"/>
                        <p class="author">{{post.author}}</p>
                        <p class="date">
                            {% if post.updated_at %}
                            · {{post.updated_at.year}}.{{post.updated_at.month}}.{{post.updated_at.day}}
                            {% else %}
                            · {{post.created_at.year}}.{{post.created_at.month}}.{{post.created_at.day}}
                            {% endif%}
                        </p>
                    </div>
                    <div class="underline"></div>
                </div>

                <div class="post_content">
                    {% if post.postimage_set.first %}
                        <div class="post_image">
                        <img src="{{post.postimage_set.first.image.url}}" />
                        </div>
                    {% endif %}

                    <div class="post_inhalt" {% if post.postimage_set.first %}style="padding-top:5%;"{% endif %}>
                        {{post.get_content_markdown | safe }}
                    </div>
                    
                    <div class="comment">
                        <p class="comment_title">Comment</p>
                        <div class="underline"></div>
                        {% if post.comment_set.exists %}
                        {% for comment in post.comment_set.iterator %}
                        <div class="user_comment" 
                        {% if forloop.last is True %} style="margin-top:3%; padding-bottom: 3%;"
                        {% endif %} id="comment_{{comment.pk}}">
                        <div class="user_info">
                            <img src="{{comment.author.image.url}}" style="width: 2.5rem; height: 2.5rem; border-radius: 50%;">
                            <p class="nickname">{{comment.author.nickname}}<p>
                            <p class="comment_date" style="display:block;">{{comment.created_at.year}}.{{comment.created_at.month}}.{{comment.created_at.day}}</p>
                        </div>
                        <div class="comment_content">
                            <p class="comment_inhalt">{{comment.content | linebreaks}}</p>
                        </div>
                        {% if forloop.last is not True%}
                        <div class="underline"></div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}


                        {% if user.is_authenticated%}
                        <form method="post" action="comment/">
                            {% csrf_token %}
                            <input type="textarea" placeholder="댓글을 작성해주세요" name="content" id="content"/>
                            <button type="submit">submit</button>

                        </form>
                        {% else %}
                        <a>Log in to leave a comment</a>
                        {% endif%}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>
{% endblock main%}