{% extends 'board/base.html' %}
{% load static %}




{% block title %}
Board
{% endblock title %}

{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'board/board_list.css'%}" />
{% endblock css%}

{% block main %}

<main id="main">
    
    <div class="container">
        <div class="posts">
            {% if posts%}
            {% for post in posts %}
            
            <div class="post_list">
                {% if post.postimage_set.first %}
                <a href="{{post.get_absolute_url}}">
                    <img src="{{post.postimage_set.first.image.url}}" alt="게시글 사진" class="post_image"/>
                </a>
                {% endif %}
                <div class="post">
                    <div class="post_user">
                        <img src="{{post.author.image.url}}" alt="프로필 사진" style="width: 2rem; height: 2rem; border-radius: 50%"/>
                        <p>
                            {{post.author}}
                        </p>
                        <p class="time">{{post.created_at.year}}.{{post.created_at.month}}.{{post.created_at.day}}</p>
                    </div>
                    <div class="post_detail">
                        <p class="post_title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></p>
                        <p class="post_inhalt" {% if post.postimage_set.first %} style="width:87%;" {% endif %} >
                            <a href="{{post.get_absolute_url}}">{{post.content}}</a></p>
                    </div>
                </div>
                {% if forloop.last is not True %}
                <div class="underline"></div>
                {% else %}
                <div style="padding-bottom:2%;"></div>
                {% endif %}
            </div>
            {% endfor %}
            
            {% else %}
            <div class="post_list" style="display:flex; justify-content: center; padding-bottom:2%;">
                <p class="search_result"><p style="color:red;">'{{ keyword|default_if_none:''}}'</p>
                <p>에 대한 검색결과가 없습니다.   <i class="fa-solid fa-face-sad-tear"></i></p>
            </div>



            {% endif%}
        </div>
        


    </div>

    

    <div class="pages">
        {% if page_obj.has_previous%}
        <a href="?page={{page_obj.number|add:'-1'}}"><i class="fa-solid fa-angle-left"></i></a>
        {% else %}
        <button disabled></button>
        {% endif%}

        {% for index in pagelist %}
        {% if index == page_obj.number %}
        <li class="page-item active">
        <span class="page-link">{{ index }}</span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ index }}">{{ index }}</a>
        </li>
        {% endif %}
        {% endfor %}


        {% if page_obj.has_next %}
        <a href="?page={{page_obj.number|add:'1'}}"><i class="fa-solid fa-angle-right"></i></a>
        {% else %}
        <button disabled></button>
        {% endif %}
    </div>
    <div class="search">
        <form method="get" action="{% url 'board:index' %}">
            <input type="search" placeholder="제목, 내용 검색" name="keyword" id="keyword" value="{{ keyword|default_if_none:''}}" />
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</main>



{% endblock main %}